<?xml version="1.0" encoding="UTF-8"?>
<?import javafx.scene.layout.VBox?>
<?import javafx.scene.control.Button?>
<?import missile_wars.frontal.controles.CanvasPartie?>
<?import javafx.scene.layout.HBox?>
<?import javafx.scene.layout.Pane?>
<?import javafx.scene.control.Label?>

<VBox xmlns:fx="http://javafx.com/fxml"
    fx:controller="missile_wars.frontal.vues.VueMenu"
    styleClass="conteneur"
    id="vue-menu">
    <VBox styleClass="conteneur" id="vue-partie">
        <!-- spacing="10" padding="10"> -->
        <Label text="Missile Wars" styleClass="titre" />
        <VBox prefWidth="80" alignment="CENTER" spacing="8">
            <Button
                fx:id="boutonVersInscription"
                text="%boutonVersInscription"
                maxWidth="Infinity"
                styleClass="gros-bouton"
                id="bouton-vers-file-attente">
            </Button>
            <Pane HBox.hgrow="ALWAYS" styleClass="grand-espace-horizontal" />
            <Button
                maxWidth="Infinity"
                fx:id="boutonVersParametres"
                text="%boutonVersParametres"
                styleClass="gros-bouton"
                id="bouton-vers-parametres">
            </Button>
            <Pane HBox.hgrow="ALWAYS" styleClass="grand-espace-horizontal" />
            <Button
                maxWidth="Infinity"
                fx:id="boutonVersDidacticiel"
                text="%boutonVersDidacticiel"
                styleClass="gros-bouton"
                id="bouton-vers-didacticiel">
            </Button>
            <Pane HBox.hgrow="ALWAYS" styleClass="grand-espace-horizontal" />
            <Button
                maxWidth="Infinity"
                fx:id="boutonVersHistorique"
                text="%boutonVersHistorique"
                styleClass="gros-bouton"
                id="bouton-vers-historique">
            </Button>
            <Pane HBox.hgrow="ALWAYS" styleClass="grand-espace-horizontal" />
            <Button
                maxWidth="Infinity"
                fx:id="boutonVersFileAttente"
                text="%boutonVersFileAttente"
                styleClass="gros-bouton"
                id="bouton-vers-file-attente">
            </Button>
            <Pane styleClass="petit-espace-vertical" />
            <Pane styleClass="petit-espace-vertical" />
            <Pane styleClass="petit-espace-vertical" />
        </VBox>
    </VBox>
</VBox>